/* Definições de cores e fontes podem ser ajustadas conforme necessário */
:root {
    --cor-cabecalho: #f0f0f0; /* Exemplo de cor para o cabeçalho */
}

.cabecalho {
    background-color: var(--cor-cabecalho);
    padding: 1em;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__texto {
    flex: 1;
    text-align: left;
}

.container__titulo {
    font-size: 30px;
    margin: 0;
}

.container__titulo--negrito {
    font-weight: bold;
}

.container__frase {
    font-size: 20px;
    margin: 0;
}

.container__imagem {
    flex-shrink: 0;
}

