@import url('styles/header.css'); /* Assegure-se de que o caminho está correto */

:root {
    --cor-de-fundo: #9949B4;
    --cor-cabecalho: #FFFFFF;
}

body {
    background-color: var(--cor-de-fundo);
    margin: 0;
}

